/* GENERAL */

@import url("https://api.fontshare.com/css?f[]=satoshi@500,700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Satoshi', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

#space {
    height: 100px;
}

/* TRANSITION */

a, .btm {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    border-bottom: 1.5px solid black;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.25rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rbg(181, 181, 181) ;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity:0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: fit-content;
    max-width: 100%;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 70vh;
    background-color: #f0f0f0; 
    margin-left: 0; 
    margin-right: 0;
    width: 100%; 
    padding-bottom: 3rem;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-size: 2rem;
    font-weight: 300;
    margin-inline: 100pt;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.section__text__p2 {
    font-size: 2rem;
    text-align: center;
}
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* PROJECTS */
#projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 25%;
    margin-left: 10%; 
    margin-right: 10%; 
}

.overview-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px; 
}

.section__header {
    font-size: 40px;
    margin-bottom: 1rem;
}
.section__text__p1, .project__text__p {
    font-size: 18px;
}

.project__header {
    font-size: 3rem;
}

.project__pic-container, .project__text-container {
    flex: 1;
}

.allprojects {
    margin-top: 10px;
    background-color: black; 
    display: block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    transition: background-color 0.3s;
    border-radius: 20px;
    margin-left: auto; 
    margin-right: auto;
  }

.nav-projects {
    margin-top: 10px;
    text-align: center;
}
.nav-projects .like-it {
    font-size: 20px;
}

.allprojects:hover {
    background-color: #4D4C5C;
}

.nav-projects .like-it {
    font-size: 2rem;
    text-align: center;
}


/* Subscriptions Super Simplified */
.SSS-project {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    margin-bottom: 30px;
}

.SSS-project img {
    max-width: 548px; 
    border-radius: 20px;
    border-style: solid;
    margin-right: 30px; 
    flex-shrink: 0; 
}

.SSS-project .project__text-container {
    max-width: 548px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    flex-grow: 1; 
    text-align: right;
}

.SSS-button {
    width: 548px;
    background-color: black; 
    display: block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    transition: background-color 0.3s;
    border-radius: 20px;
  }

  .SSS-button:hover {
    background-color: #4D4C5C;
}

/* Chick Fil A */
.CFA-project {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    margin-bottom: 30px;
}

.CFA-project img {
    max-width: 548px; 
    border-radius: 20px;
    border-style: solid;
    margin-left: 30px; 
    flex-shrink: 0; 
}

.CFA-project .project__text-container {
    max-width: 548px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    flex-grow: 1; 
}

.CFA-button {
    width: 548px;
    background-color: black; 
    display: block;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    transition: background-color 0.3s;
    border-radius: 20px;
  }

  .CFA-button:hover {
    background-color: #4D4C5C;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.8rem 4%;
    border-top: 1.5px solid black;

}

.footer-text {
    font-size: 1rem;
}


/* ICONS */

.icon {
    cursor: pointer;
    height: 3rem;
}